[Desktop Entry]
Name=Tsumiru
Comment=A fast, multiplatform reader for your Suwayomi server
Exec=tsumiru
Icon=io.github.aaronbamblett.tsumiru
Terminal=false
Type=Application
Categories=Graphics;Viewer;
Keywords=manga;manhwa;webtoon;comic;reader;suwayomi;tachidesk;
StartupWMClass=tsumiru
